################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WordleCpp
*.filters
*.user
*.vcxproj
/WordleCpp/x64/Debug
/WordleCpp/x64/Release/WordleCpp.tlog
/x64
/cached_matrix.txt
/WordleCpp/x64/Release
*.bin
